[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "disclapmix"]
	path = disclapmix
	url = https://github.com/mikldk/disclapmix
	shallow = true
	registered = true
	oncran = true
[submodule "DNAtools"]
	path = DNAtools
	url = https://github.com/mikldk/dnatools
	shallow = true
	registered = true
	oncran = true
[submodule "malan"]
	path = malan
	url = https://github.com/mikldk/malan
	shallow = true
	registered = true
	oncran = true
[submodule "roxytest"]
	path = roxytest
	url = https://github.com/mikldk/roxytest
	shallow = true
	registered = true
	oncran = true
